.menu-search {
    position: absolute;
    width: 336px;
    left: 344px;
    top: 113px;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        top: 19px;
        height: 1px;
        background-color: white;
        z-index: 7;
    }

    &:__films {
        position: absolute;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        width: 322px;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        color: #FFFFFF;
        border: none;
        outline: none;
        background: transparent;
        cursor: pointer;
        z-index: 12;
    
    }
    &:__icon {
        position: absolute;
        width: 12px;
        height: 12px;
        left: 324px;
        top: 0px;
        cursor: pointer;
        z-index: 9;
    }
}

@media (max-width: 768px) {
.menu-search {
    left: 216px;
}
}
@media (max-width: 320px) {
.menu-search {
    width: 280px;
    left: 20px;

    &:__films {
        width: 266px;
    }
    &:__icon {

        left: 268px;
        top: 2px;
    }
}
}