.site-logo__icon {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 71px;
    top: 46px;
    z-index: 2;
}
.site-logo__link {
    position: absolute;
    width: 141px;
    height: 35px;
    left: 105px;
    top: 41px;
    font-family: Roboto;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    z-index: 3;
}
@media (max-width: 320px) {
    .site-logo__icon {
        left: 21px;
    }
    .site-logo__link {
        display: none;
    }
}