// .cards__films-wrap,
// .film-pagination,
// .film-footer__section {
//   display: none;
// }
.page-header {
  width: 1024px;
  height: 230px;
  margin: 0 auto;
}

.header-content {
  display: flex;
  justify-content: space-between;
}

.banner-home {
  background-image: url(../images/banner-home.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-watched {
  background-image: url(../images/banner-watched.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-detalis {
  background-image: url(../images/banner-detalis.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.site-logo {
  background-color: lawngreen;

  margin-top: 40px;

  & svg {
    margin-right: 12px;
  }

  &__link {
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #ffffff;
  }
}

.menu-navigation {
  background-color: indianred;

  width: 143px;
  display: flex;
  justify-content: space-between;
  margin-top: 58px;

  &__item {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      top: 14px;
      left: 0;
      margin-top: 2px;
    }

    &:hover::after {
      background-color: #ff6b08;
    }
  }

  &__home,
  &__library {
    font-family: Roboto;
    font-style: normal;
    color: #ffffff;
    font-size: 12px;
  }
}

.menu-library {
  width: 287px;
  height: 44px;
  margin-top: 121px;
  display: flex;
  justify-content: space-between;

  &__watched,
  &__queue {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    width: 136px;
    color: white;
    border: 1px solid #ffffff;
    background: transparent;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #ff6b01;
      border: #ff6b01;
    }
  }
}

.menu-search {
  position: relative;
  width: 336px;
  margin-top: 113px;

  &::after {
    content: '';
    position: absolute;
    top: 17px;
    width: 100%;
    height: 1px;
    background-color: white;
  }

  &__films {
    font-family: Roboto;
    font-weight: normal;
    width: 322px;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #ffffff;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
  }

  &__icon {
    // background-color: lawngreen;
    // display: flex;
    // position: absolute;
    width: 16px;
    height: 16px;
    // z-index: 9;
    // left: 324px;
    // top: 0px;
    // cursor: pointer;
    // z-index: 9;
  }
}

// для смены кнопок на страницах. не удалять
.on {
  display: flex;
}

.off {
  display: none;
}
// для смены кнопок на страницах. не удалять
