*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

<<<<<<< HEAD
#wrapper {
  width: 1024px;
  margin: 0 auto;
}

=======
>>>>>>> fdd83d3ed8cef33da5a2d8cbddec88b68b7ef3f6
.container {
  width: 875px;
  margin: 0 auto;
}
