<section class="film-footer__section">
    <div class="contact-form-container contact-form">
        <span class="contact-form__text forMobile">© 2020 | All Rights Reserved |</span>
        <div class="links-contact">
            <span class="contact-form__text forDesktop">Developed with</span>
            <img class="contact-form__icon" src="./images/heart.svg" alt="" />
            <span class="contact-form__text">by</span>
            <a class="contact-form__link" href="/"> GoIT Students</a>
        </div>
    </div>
</section>