<div id="film-pagination">
  <ul class="film-page-list">
    <li class="film-page-item previous no">
      <a class="click-pag"><img class="film-control" src="../images/arrow-right.png" alt=""></a>
    </li>

    <!--  Здесь рендерим кнопочки с помощью JS  -->

    {{{paginations}}}

    <li class="film-pag page-item next no">
      <a class="click-pag"><img class="film-control" src="../images/arrow-left.png" alt=""></a>
    </li>
  </ul>
</div>
